# Core libraries for the ETL pipeline
pyspark==3.5.7
psycopg2-binary
python-dotenv
Faker
pydantic


# Libraries
sqlalchemy
pandas
matplotlib

# Libraries for development and testing
pytest
black
isort
flake8
mypy